@model IEnumerable<SCRegistrationWeb.Models.Building>

@{
    ViewBag.Title = "Index";
}

<div id="main-wrapper">
    <div class="12u" id="main-content">
        <div class="5grid-layout">
            <div class="row">

                <h2>Building List</h2>

                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomTypes.Name)
                        </th>
                        <th>Total/Available Beds</th>
                        <th></th>

                    </tr>


                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomTypes.Name)
                            </td>
                            <td>
                                @Html.Action("TotalBeds", "Building", new { id = item.BuildingID })
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id=item.BuildingID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
