@model SCRegistrationWeb.Models.RegistrationEntry

@{
    ViewBag.Title = "Edit Registration";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegistrationEntry</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>


        <div class="editor-label readonly">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field readonly">
            @Html.TextBoxFor(model => model.DateCreated, new {disabled ="disabled", @readonly = "readonly"})
            @Html.HiddenFor(model => model.DateCreated)
        </div>

        <div class="editor-label readonly">
            @Html.LabelFor(model => model.IsConfirmed)
        </div>
        <div class="editor-field readonly">
            @Html.TextBoxFor(model => model.IsConfirmed, new {disabled ="disabled", @readonly = "readonly"})
            @Html.HiddenFor(model => model.IsConfirmed)
        </div>

        <div class="editor-label readonly">
            @Html.LabelFor(model => model.RegistrationUID)
        </div>
        <div class="editor-field readonly">
            @Html.TextBoxFor(model => model.RegistrationUID, new {disabled ="disabled", @readonly = "readonly"})
            @Html.HiddenFor(model => model.RegistrationUID)
        </div>

        <p>
            <input type="submit" value="Save" />
            <input type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Detail", "SearchRegistration", new {RegUID = Model.RegistrationUID})    '" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
