@model IEnumerable<SCRegistrationWeb.Models.ParticipantEntry>

@helper Truncate(string
input, int length,bool dots=true)
 {
    if (input.Length <= length) {
        @input
    } else {
        if (dots)
        {
            @input.Substring(0, length)<text>...</text>
        }
        else
        {
            @input.Substring(0, length)  
        }
    }
}

@{
    ViewBag.Title = "Search Registration";
}
<div id="main-wrapper">
    <div class="12u" id="main-content">
	    <div class="5grid-layout">
            <h2>Admin - Search Registration</h2>

            @using (Html.BeginForm()){
                <div class="editor-field short"> 
                    String: @Html.TextBox("SearchString")
@*                    Phone: @Html.TextBox("SearchPhone")
                    Name: @Html.TextBox("SearchName")*@
                    Service: @Html.DropDownList("ServiceID","All Sessions")
                    Age Range: @Html.DropDownList("AgeRangeID","All Ages")
                    Status: @Html.DropDownList("StatusID", "All Active")  
                    <input type ="submit" value="Filter" />
                </div>
            }
            <h4>Total Found Participants: @ViewBag.PartCount</h4>
            <table>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistrationEntries.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistrationEntries.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChineseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Services.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgeRanges.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genders.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegTypes.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Statuses.Name)
                    </th>
@*                    <th></th>*@
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
@*                        @Html.DisplayFor(modelItem => item.RegistrationID)*@
                        
                        @Html.ActionLink(item.RegistrationID.ToString(), "Detail", "SearchRegistration", new { Id = item.RegistrationEntries.RegistrationID },"")
                    </td>
                    <td>
                        @Truncate(item.RegistrationEntries.Email,10,true)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationEntries.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChineseName)
                    </td>
                    <td>
                        @Truncate(item.Services.Name,3,false)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeRanges.Name)
                    </td>
                    <td>
                        @Truncate(item.Genders.Name,1,false)
                    </td>
                    <td>
                        @Truncate(item.RegTypes.Name,4,false)
                    </td>
                    <td>
                        @Truncate(item.Statuses.Name,4,false)
                    </td>
@*                    <td>
                        @Html.ActionLink("Open", "Detail", new { Id=item.RegistrationEntries.RegistrationID })
                    </td>*@
                </tr>
            }

            </table>
        </div>
    </div>
</div>
