@model SCRegistrationWeb.Models.ParticipantEntry

@{
    ViewBag.Title = "Edit Participant";
}

<h2>Edit Participant</h2>

@using (Html.BeginForm()) 

{

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ParticipantEntry</legend>

        <h4>Registration ID: @ViewBag.RegistrationID | Participant ID: @ViewBag.ParticipantID</h4>
         
        <table class="context">
            <tr class="editing">
                <td>       
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FirstName)
                    </div>
                </td>
                <td>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LastName)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChineseName)
                        @Html.ValidationMessageFor(model => model.ChineseName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ChineseName)
                    </div>
                </td>
                <td></td>
            </tr>

            <tr class="radioselect">
                <td>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.GenderID)
                    </div>

                    @Html.ValidationMessageFor(model => model.GenderID)    
                    @foreach (SelectListItem item in @ViewBag.GenderID)
                    {
                        <div>
                        @Html.RadioButtonFor(model => model.GenderID, item.Value)
                        @HttpUtility.HtmlEncode(item.Text)
                        </div>
                    }
                    
                </td>
                <td>
                    <div class="editor-label required">
                    @Html.LabelFor(model => model.AgeRangeID)
                    </div>
                    @Html.ValidationMessageFor(model => model.AgeRangeID)    
                    @foreach (SelectListItem item in @ViewBag.AgeRangeID)
                    {
                        <div>
                        @Html.RadioButtonFor(model => model.AgeRangeID, item.Value)
                        @HttpUtility.HtmlEncode(item.Text)
                        </div>
                    }
                    
                </td>
                <td>
                    <div class="editor-label required">
                    @Html.LabelFor(model => model.ServiceID)
                    </div>
                    @Html.ValidationMessageFor(model => model.ServiceID)
                    @foreach (SelectListItem item in @ViewBag.ServiceID)
                    {
                        <div>
                        @Html.RadioButtonFor(model => model.ServiceID, item.Value)
                        @HttpUtility.HtmlEncode(item.Text)
                        </div>
                    }

                </td>
                <td>
                    <div class="editor-label required">
                    @Html.LabelFor(model => model.RegTypeID)
                    </div>   
                    @Html.ValidationMessageFor(model => model.RegTypeID)     
                    @foreach (SelectListItem item in @ViewBag.RegTypeID)
                    {
                        <div>
                        @Html.RadioButtonFor(model => model.RegTypeID, item.Value)
                        @HttpUtility.HtmlEncode(item.Text)
                        </div>
                    }

                </td>
            </tr>

            <tr>
                <td>
                    @Html.HiddenFor(model => model.FellowshipID)
                </td>
                <td>
                    @Html.HiddenFor(model => model.RoomTypeID)
                </td>
                <td></td>
                <td>
                    <input type="submit" value="Next" />
                    <input type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Modify", "Register", new {RegUID = ViewBag.RegUID})'" />
                </td>
            </tr>
        </table>

        <br />
        <div class="required">required fields</div>
    
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
