@model IEnumerable<SCRegistrationWeb.Models.ParticipantEntry>

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.Found)
{
<div id="main-wrapper">
    <div class="12u" id="main-content">
	    <div class="5grid-layout">
            <div class="row">


                @if (@ViewBag.RegIsConfirm)
                {

                    <div class="4u">
                        @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                        {                    
                            <p>This registration has been confirmed.</p>
                            <p>Click "Edit Registration" to modify registration.</p>
                            <input type="button" title="Edit Registration" value="Edit Registration" onclick="location.href='@Url.Action("Unlock", "Register", new { RegUID = ViewBag.RegUID, isAdmin = ViewBag.isAdmin })    '" />
                            <input type="button" title="Close Registration" value="Close Registration" onclick="location.href='@Url.Action("Index", "Register")    '" />
                        }
                        
                        @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                        {                    
                            <p>注册已被证实。</p>
                            <p>点击“编辑注册“进行修改登记。</p>
                            <input type="button" title="编辑注册" value="编辑注册" onclick="location.href='@Url.Action("Unlock", "Register", new { RegUID = ViewBag.RegUID, isAdmin = ViewBag.isAdmin })    '" />
                            <input type="button" title="关闭注册" value="关闭注册" onclick="location.href='@Url.Action("Index", "Register")    '" />
                        }
                    </div>
                        Html.RenderAction("PaymentSummary", "Register", new { ID = ViewBag.RegID });

                }

                @if (@ViewBag.RegIsConfirm == false)
                {
                    <div class="9u">
        
                    @if (@ViewBag.RegIsComplete)
                    {
                        if (ViewContext.RouteData.Values["language"].ToString() == "en")
                        {                            
                            <p>Select "Add Participant to add a new participant. Please click "Confirm Registration" once you're done.</p>
                            <input type="button" title="Add New" value="Add Participant" onclick="location.href='@Url.Action("Modify", "Participant", new { RegUID = ViewBag.RegUID, isPage2 = false, id = 0 })    '" />
                            <input type="button" title="Confim" value="Confirm Registration" onclick="location.href='@Url.Action("Lock", "Register", new { RegUID = ViewBag.RegUID, isAdmin = ViewBag.isAdmin }, "")    '" />
                            <input type="button" title="Close" value="Close Registration" onclick="location.href='@Url.Action("Index", "Register")    '" />
                        }

                        if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                        {                            
                            <p>请点击”加与会者“加一个新的参与者。请点击”证实注册“一旦你完成。</p>
                            <input type="button" title="加与会者" value="加与会者" onclick="location.href='@Url.Action("Modify", "Participant", new { RegUID = ViewBag.RegUID, isPage2 = false, id = 0 })    '" />
                            <input type="button" title="证实注册" value="证实注册" onclick="location.href='@Url.Action("Lock", "Register", new { RegUID = ViewBag.RegUID, isAdmin = ViewBag.isAdmin }, "")    '" />
                            <input type="button" title="关闭注册" value="关闭注册" onclick="location.href='@Url.Action("Index", "Register")    '" />
                        }
                    }
    
                    @if (@ViewBag.RegIsComplete == false)
                    {
                        <div class="message-error">
                        @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                        { 
                            <p>Warning, you have an Incomplete Participant entry. Please finish before continuing.</p>
                        }
                        @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                        { 
                            <p>警告，你有一个不完整的参与者进入。请完成，然后再继续。</p>
                        }
                            
                        </div>
                    }
                    </div>
                }   
            </div>

            <h2>@ViewBag.PartMessage</h2>

            <div class="12u">
                @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                { 
                    <h2>Registration Participants</h2>
                }
                @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                { 
                    <h2>报名会者</h2>
                }
                
            @foreach (var item in Model)
            {
                <div class="divider1"></div>
                <div class="row">
                    <div class="5u">
                        <table>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                            </tr>
                            <tr class="partview">
          
                                          <th>
                                    @Html.DisplayNameFor(model => model.ChineseName)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChineseName)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.Genders.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genders.Name)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.AgeRanges.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AgeRanges.Name)
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="5u">
                        <table>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.Services.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Services.Name)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.Fellowships.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fellowships.Name)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomTypes.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomTypes.Name)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.RegTypes.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegTypes.Name)
                                </td>
                            </tr>
                            <tr class="partview">
                                <th>
                                    @Html.DisplayNameFor(model => model.PartPrice)
                                </th>
                                <td>
                                    @String.Format("{0:C}", item.PartPrice)
                                </td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="2u">
            
                        <br />
                        <p>@Html.DisplayNameFor(model => model.Statuses.Name): 
                        @Html.DisplayFor(modelItem => item.Statuses.Name)
                        </p>

            
                        @if (@ViewBag.RegIsConfirm == false)
                        {
                            if (ViewContext.RouteData.Values["language"].ToString() == "en")
                            { 
                                <p>@Html.ActionLink("Edit", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                                <p>@Html.ActionLink("Remove", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>

                                if (@ViewBag.isAdmin == true)
                                {
                                    <p>@Html.ActionLink("Admin Edit", "EditParticipant","SearchRegistration", new { RegUID = ViewBag.RegUID, id = item.ParticipantID },"")</p>
                                }
                            }
                            if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                            { 
                                <p>@Html.ActionLink("编辑", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                                <p>@Html.ActionLink("清除", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>

                                if (@ViewBag.isAdmin == true)
                                {
                                    <p>@Html.ActionLink("Admin Edit", "EditParticipant", "SearchRegistration", new { RegUID = ViewBag.RegUID, id = item.ParticipantID},"")</p>
                                }
                            }

                        }
                    </div>  
                </div> 
            }

                <div class="divider1"></div>
            </div>
        </div>
    </div>
</div>
}
