@model SCRegistrationWeb.Models.PaymentEntry

@{
    ViewBag.Title = "Complete";
}

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.Found)
{
    Html.RenderAction("Summary", "Register", new { Id = ViewBag.RegID });

<div id="main-wrapper">
	<div class="12u" id="main-content">
		<div class="5grid-layout">
            <h2>Thank You</h2>

            <p>
                Your Registration has now been confirmed. Please remember the e-mail and phone number you used for the registration.
                This will allow you to go back and check or modify your registration at any time. 
            </p>
            <p>
                Your total price for summer conference is @String.Format("{0:C}", ViewBag.TotalPrice).
            </p>

    @if (ViewBag.Scholarship == false)
    {
    using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <p>
            Please remember to write a check payable to T4C, and your Registration Number @ViewBag.RegID in the Memo line.
        </p>
        <p>
            If you need scholorships select Request Scholorship to apply.
        </p>
                                        
        <input type="submit" value="Request Scholorship" />

        }                              
    }

    @if (ViewBag.Scholarship)
    {
    using (Html.BeginForm()) {
        @Html.ValidationSummary(true)    
    
        <p>Please enter Scholarship request amount</p>                
        <fieldset>
            <legend>PaymentEntry</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentAmt)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PaymentAmt)
                @Html.ValidationMessageFor(model => model.PaymentAmt)
            </div>

                @Html.HiddenFor(model => model.PaymentDate)
                @Html.HiddenFor(model => model.PmtTypeID)
                @Html.HiddenFor(model => model.PmtStatusID)
                @Html.HiddenFor(model => model.RegID)
        
            <input type="submit" value="Enter Request" />
            <div class="message-error">
                @if(ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
            </div>
        </fieldset>
        }            
    }
            <input type="button" title="Back" value="Back" onclick="location.href='@Url.Action("Modify", new { RegUID = ViewBag.RegUID })    '" />
 
        </div>
    </div>
</div>       
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
