@model IEnumerable<SCRegistrationWeb.Models.PaymentEntry>

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.Found)
{

    	<div class="6u">
            @if (ViewContext.RouteData.Values["language"].ToString() == "en")
            {
                <h2>Payment Summary</h2>
            }
            @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
            {
                <h2>支付总结</h2>
            }
            <table>
                <tr class="priceview">
                    <th>Registration Price 注册价格</th>
                    <td>@String.Format("{0:C}", ViewBag.totalRegPrice)</td>
                </tr>
                @if (ViewBag.totalScholarshipPending > 0)
                {
                    <tr class="priceview">
                        <th>Scholarship Requested 奖学金申请</th>
                        <td>@String.Format("{0:C}", ViewBag.totalScholarshipPending)</td>
                    </tr>
                    
                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 1 && item.PmtStatusID == 1)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }
                }
                @if (ViewBag.totalScholarshipApproved > 0)
                {
                    <tr class="priceview">
                        <th>Scholarship Applied 奖学金应用</th>
                        <td>@String.Format("{0:C}", ViewBag.totalScholarshipApproved)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 1 && item.PmtStatusID == 2)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                @if (ViewBag.totalCashRecieved > 0)
                {
                    <tr class="priceview">
                        <th>Total Cash Payment 总现金付款</th>
                        <td>@String.Format("{0:C}", ViewBag.totalcashRecieved)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 2 && item.PmtStatusID != 3)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                @if (ViewBag.totalCheckPending > 0)
                {
                    <tr class="priceview">
                        <th>Total Check Payment 支票付款</th>
                        <td>@String.Format("{0:C}", ViewBag.totalCheckPending)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 3 && item.PmtStatusID == 1)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                @if (ViewBag.totalCheckApproved > 0)
                {
                    <tr class="priceview">
                        <th>Total Check Payment 支票付款</th>
                        <td>@String.Format("{0:C}", ViewBag.totalCheckApproved)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 3 && item.PmtStatusID == 2)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }                    
                @if (ViewBag.totalRefundPending > 0)
                {
                    <tr class="priceview">
                        <th>Refund Processing 退款处理</th>
                        <td>@String.Format("{0:C}", ViewBag.totalRefundPending)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 4 && item.PmtStatusID == 1)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                @if (ViewBag.totalRefundApproved > 0)
                {
                    <tr class="priceview">
                        <th>Refunded Amount 退款</th>
                        <td>@String.Format("{0:C}", ViewBag.totalRefundApproved)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 4 && item.PmtStatusID == 2)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                @if (ViewBag.totalAdjustment > 0)
                {
                    <tr class="priceview">
                        <th>Total Adjustment 总现金付款</th>
                        <td>@String.Format("{0:C}", ViewBag.totalAdjustment)</td>
                    </tr>

                    foreach (var item in Model)
                    {
                        if (item.PmtTypeID == 5 && item.PmtStatusID != 3)
                        {
                        <tr class="dateview">
                            <th>
                                @string.Format("{0:d}", item.PaymentDate) - 
                                @String.Format("{0:C}", item.PaymentAmt)
                            </th>
                        </tr>
                        }
                    }                    
                }
                    
                <tr class="priceview">
                    <th>Remaining Balance 总剩余</th>
                    <td>@String.Format("{0:C}", ViewBag.totalRemaining)</td>
                </tr>
            </table>


            </div>


}

