@model IEnumerable<SCRegistrationWeb.Models.RegistrationEntry>

@{
    ViewBag.Title = "Summary";
}

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.Found)
{

using (Html.BeginForm()) {
@Html.ValidationSummary(true)

foreach (var item in Model)
{
<div id="banner-wrapper">
	<div class="12u">
		<div class="5grid-layout">
                <div class="12u">
                    @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                    {
                        <h2>Registration Id &nbsp; @Html.DisplayFor(modelItem => item.RegistrationID)</h2>
                    }
                    @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                    {
                        <h2>注册 Id &nbsp; @Html.DisplayFor(modelItem => item.RegistrationID)</h2>
                    }
                </div>
                <div class="float-right">
                    @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                    {
                        <p>@Html.ActionLink("Edit","Edit",new { RegUId = ViewBag.RegUID})</p>
                    }
                    @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                    {
                        <p>@Html.ActionLink("修改","Edit",new { RegUId = ViewBag.RegUID})</p>
                    }
                </div>
            <div class="4u">
                <h4>
                            @Html.DisplayNameFor(model => model.Email):
                            @Html.DisplayFor(modelItem => item.Email)
                </h4>
            </div>
            <div class="4u">
                <h4>
                            @Html.DisplayNameFor(model => model.Phone):
                            @String.Format("{0:###-###-####}", Convert.ToInt64(item.Phone))
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="divider1"></div>
}
}   
}