@model IEnumerable<SCRegistrationWeb.Models.RegistrationEntry>

@{
    ViewBag.Title = "Summary";
}

@if (ViewBag.Found == false)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.Found)
{

using (Html.BeginForm()) {
@Html.ValidationSummary(true)

foreach (var item in Model)
{
<div id="banner-wrapper">
	<div class="12u">
		<div class="5grid-layout">
            <div class="row">
                <div class="4u">
                    @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                    {
                        <h2>Registration Information</h2>
                    }
                    @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                    {
                        <h2>注册信息</h2>
                    }
                </div>
                <div class="float-right">
                    @if (ViewContext.RouteData.Values["language"].ToString() == "en")
                    {
                        <p>@Html.ActionLink("Edit","Edit",new { RegUId = ViewBag.RegUID})</p>
                    }
                    @if (ViewContext.RouteData.Values["language"].ToString() == "ch")
                    {
                        <p>@Html.ActionLink("修改","Edit",new { RegUId = ViewBag.RegUID})</p>
                    }
                </div>
            </div>
        <div class="row">
            <div class="3u">
                <table>
                    <tr class="admin1">
                        <th>
                            @Html.DisplayNameFor(model => model.RegistrationID)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationID)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="4u">
                <table>
                    <tr class="admin1">
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="4u">
                <table>
                    <tr class="admin1">
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <td>
                            @String.Format("{0:###-###-####}", Convert.ToInt64(item.Phone))
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="divider1"></div>
}
}   
}