@model IEnumerable<SCRegistrationWeb.Models.Fellowship>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FellowshipID })
        </td>
    </tr>
}

</table>
