<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - T4C Summer Conference</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/themes/iridium/5grid/core.css")
        @Styles.Render("~/Content/themes/iridium/5grid/core-desktop.css")
        @Styles.Render("~/Content/themes/iridium/5grid/core-1200px.css")
        @Styles.Render("~/Content/themes/iridium/5grid/core-noscript.css")
        @Styles.Render("~/Content/themes/iridium/style.css")
        @Styles.Render("~/Content/themes/iridium/style-desktop.css")        
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Content/themes/iridium/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1 class="mobileUI-site-name">
                        @Html.ActionLink("T4C SC", "Index", "Home")
                    </h1>

                    <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    </div>

                    <!-- Nav -->
                    <nav class="mobileUI-site-nav">
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("About", "About", "Home")
                        @Html.ActionLink("Schedule", "Schedule", "Home")
                        @Html.ActionLink("Location", "Location", "Home")                        
                        @Html.ActionLink("Register", "Index", "Register")
                        @Html.ActionLink("Admin", "Index", "Admin")
                    </nav>
                </div>
            </div>
        </header>
        </div>


        <!--div id="wrapper">
            RenderSection("featured", required: false)
            <section class="12u" id="main-content">
            </section>
        <div -->
        
        @RenderBody()

        <div class="divider2"></div>
        <footer>
            <div id="copyright">
                <p><a href="/Home/Copyright">&copy;@DateTime.Now.Year - GCT826 Design</a></p>
            </div>
        </footer>

    </body>
</html>
