@model IEnumerable<SCRegistrationWeb.Models.ParticipantEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()){
    <p>Phone: @Html.TextBox("SearchPhone")
       Email: @Html.TextBox("SearcheMail")
       Name: @Html.TextBox("SearchName")
        <input type ="submit" value="Filter" />
    </p>
}
<table>
    <tr>
        <td></td>
        <td>
            @Html.DisplayNameFor(model => model.RegistrationEntries.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.RegistrationEntries.Phone)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ChineseName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Services.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.AgeRanges.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Genders.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.RegTypes.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Statuses.Name)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationEntries.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationEntries.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChineseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Services.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRanges.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genders.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegTypes.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statuses.Name)
        </td>
        <td>
            @Html.ActionLink("Open", "Edit", new { id=item.ParticipantID })
        </td>
    </tr>
}

</table>
