@model SCRegistrationWeb.Models.ParticipantEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ParticipantEntry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Services.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Services.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgeRanges.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgeRanges.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genders.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genders.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegTypes.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegTypes.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fellowships.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fellowships.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomTypes.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomTypes.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChineseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChineseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartPrice)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
