@model IEnumerable<SCRegistrationWeb.Models.RoomNote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomNoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomNoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomNoteID })
        </td>
    </tr>
}

</table>
