@model SCRegistrationWeb.Models.RoomType

@{
    ViewBag.Title = "Create";
}

<div id="main-wrapper">
	<div class="12u" id="main-content">
		<div class="5grid-layout">

        <h2>Create Room Type</h2>

        <div class="message-error">
            <p>
                @ViewBag.Message
            </p>
        </div>

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>RoomType</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.RegTypeID, "RegTypes")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("RegTypeID", String.Empty)

                    @Html.ValidationMessageFor(model => model.RegTypeID)
                </div>


                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <p>
                    <input type="submit" value="Create" />
                    <input type="button" value="Cancel" onclick="location.href='@Url.Action("TableModification","Admin")    '" />
                </p>
            </fieldset>
        }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

