@model SCRegistrationWeb.Models.PaymentEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PaymentEntry</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentAmt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentAmt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentStat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentStat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PaymentComment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentComment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
