@model IEnumerable<SCRegistrationWeb.Models.PaymentEntry>

@{
    ViewBag.Title = "Index";
}
            <div id="main-wrapper">
                <div class="12u" id="main-content">
	                <div class="5grid-layout">
                        <div class="row">
            <h2>Payment Entries</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmtTypes.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentAmt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmtStatuses.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentComment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegID)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PmtTypes.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentAmt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PmtStatuses.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentComment)
                    </td>
                    <td>
                        @Html.ActionLink(item.RegID.ToString(), "Detail", "SearchRegistration", new { Id = item.RegID },"")
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.PaymentID })
                    </td>
                </tr>
            }

            </table>

            </div>
        </div>
    </div>
</div>
